//- This now serves as the base template, even for the master

html
    head
        // This is the title of the page. Pretty basic.

        // Here we import the asset files such as Bulma and FontAwesome.
        // You can use this out of the box. This btw, is an HTML comment
        // in Pug. This will appear in your browser when you render the
        // HTML.
        link(rel="stylesheet" href="/assets/bulma/bulma.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="icon" href="/assets/yst.gif" type="image/gif" sizes="16x16">
    
        
    body
        block body