extends ../../../../templates/adminnav/adminnav

block content
    h1.title
        span.fa(class= user ? 'fa-user' : 'fa-user-plus')
        | &nbsp; #{user ? 'Edit': 'Add'} Blood Stock

    form(method="POST" action=`${tblaccounts ? `/${tblaccounts.intACCOUNT_ID}?_method=POST` : ''}`)
        .field
            .label Blood Component
            .control    
                select.input(name="component")     
                    each component in tblbloodcomponent  
                        option(value= component.intBLOODCOMPONENT_ID)= component.strBLOODCOMPONENT_DESCRIPTION
        .field
            .label A+
            .control
                input.input(type="number" name="ap" value= stock ? stock.strBLOODSTOCK_AP : '')
        .field
            .label A-
            .control
                input.input(type="number" name="an" value= stock ? stock.strBLOODSTOCK_AN : '')
        .field
            .label B+
            .control
                input.input(type="number" name="bp" value= stock ? stock.strBLOODSTOCK_BP : '')
        .field
            .label B-
            .control
                input.input(type="number" name="bn" value= stock ? stock.strBLOODSTOCK_BN : '')
        .field
            .label AB+
            .control
                input.input(type="number" name="abp" value= stock ? stock.strBLOODSTOCK_ABP : '')
        .field
            .label AB-
            .control
                input.input(type="number" name="abn" value= stock ? stock.strBLOODSTOCK_ABN : '')
        .field
            .label O+
            .control
                input.input(type="number" name="op" value= stock ? stock.strBLOODSTOCK_OP : '')
        .field
            .label O-
            .control
                input.input(type="number" name="on" value= stock ? stock.strBLOODSTOCK_ON : '')
            .label PRICE
            .control
                input.input(type="number" name="price" value= stock ? stock.strBLOODSTOCK_PRICE : '')
            .control
                input.input(type="hidden" name="account" value= tblaccounts ? tblaccounts.intACCOUNT_ID : '')
        input.button.is-primary(type="submit" value="Submit")
    br