.container
  .row
    .col-md-2.col-sm-6.col-xs-6
      .panel.panel-default
        .panel-body
          h2 Hover me
          p I will show the footer panel
        .panel-footer Panel footer
    .col-md-2.col-sm-6.col-xs-6
      .panel.panel-default
        .panel-body
          h2 Hover me
          p I will show the footer panel with a Badge
        .panel-footer
          a(href='#')
            span.badge 42
