extends ../../../../templates/adminnav/adminnav

block content
	h1.title
		span.fa(class= user ? 'fa-user' : 'fa fa-envelope')
		| &nbsp; 
		=`Messages with ${ mate_det.strACCOUNT_EMAIL }`
		div(id="disp" style="border: 2px solid black;")
			form( class="form" class="chat_form")
				input(id="chat_input" type="text")
				<button type"button" class="btn btn-primary btn-round">Send</button> 
		script( src="/jquery/dist/jquery.js" )
		script( src="/socket.io-client/dist/socket.io.js" )
		script.
			var socket = io()
			socket.on( "connect", () => {
			 	socket.emit( "join", "A client connected" )
			})
			socket.on( "init", data => {
				$( "pr" ).remove()
				data.forEach( cur => {
					$( "#disp" ).append( "<pr>" + "<b>" + cur.email + "</b>" + ": " + cur.content + "<br/>" + "</pr>" )
				})
			})
			socket.on( "broad", data => {
				$( "#disp" ).append( "<pr>" + "<b>" + data.email + "</b>" + ": " + data.content + "<br/>" + "</pr>" )
			})
			socket.on( "clear", () => {
				$( "pr" ).remove()
			})
			$( "form" ).submit( e => {
				var message = $( "#chat_input" ).val()
				if( message === "-clear" ) {
					e.preventDefault()
					$( "pr" ).remove()
					$( "#chat_input" ).focus().val( "" )
				} else {
					e.preventDefault()
					socket.emit( "messages", message )
					$( "#chat_input" ).focus().val( "" )
				}
			})