<html>
	<head>
		<title>Messaging Version 2</title>
	</head>
	<body>
		<h1>Contacts</h1>
		each email in emails
			<b>
				a( href=`${ redr + email.msg_con_id }`)= email.strACCOUNT_EMAIL
			</b>
			<br/>
	</body>
</html>