extends ../../../../templates/adminnav/adminnav

block content
	h1.title
		span.fa(class= user ? 'fa-user': 'fa fa-address-card'  )
		| &nbsp; Contacts
		br
		br
		each email in emails
			a( href=`${ redr + email.msg_con_id }`)= email.strACCOUNT_EMAIL
			br