extends ../../../../templates/bloodbank/bloodbanknav

block content
    h1.title
        span.fa(class= user ? 'fa-user' : 'fa-user-plus')
        | &nbsp; Account Settings
    form(method="POST" action=`/bloodbank/changepass${tblaccounts ? `/${tblaccounts[0].intACCOUNT_ID}?_method=POST` : ''}`)
        .field
            .label Account Email
            .control    
                    td= tblaccounts[0].strACCOUNT_EMAIL
        .field
            .label Change Password
        a(href=`/bloodbank/changepass/${tblaccounts[0].intACCOUNT_ID}`)
            button.button.is-primary(type="button") Change Password    
    br