extends ../../../../templates/bloodbank/bloodbanknav

block content
    h1.title
        span.fa(class= user ? 'fa-user' : 'fa-user-plus')
        | &nbsp; Message
    form(method="POST" action=`createmessage${tblperson ? `${tblperson.intPERSON_ID}?_method=POST` : ''}`)
        .field
            .label Send To:
            .control
                input.input(placeholder="Email" type="text" name="email" value= tblperson ? tblperson.strtblperson_CONTENT : '' required)
        .field
            .label Subject:
            .control
                input.input(placeholder="Subject" type="text" name="subject" value= tblperson ? tblperson.strtblperson_CONTENT : '' required)
        .field
            .label Content:
            .control
                input.input(placeholder="Content" type="text" name="content" value= tblperson ? tblperson.strtblperson_CONTENT : '' required)
        input.button.is-primary(type="submit" value="Submit")
    br